[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/opt/homeassistant/bin/hass -c "/opt/homeassistant/.homeassistant"


[Install]
WantedBy=multi-user.target