- id: '1'
  alias: Turn on Fish Light
  trigger:
  - entity_id: sun.sun
    from: below_horizon
    platform: state
    to: above_horizon
  action:
  - entity_id: switch.fishtanklight
    service: switch.turn_on
  mode: single
- id: '2'
  alias: Turn off Fish Light
  trigger:
  - entity_id: sun.sun
    from: above_horizon
    platform: state
    to: below_horizon
  action:
  - entity_id: switch.fishtanklight
    service: switch.turn_off
  mode: single
- id: '3'
  alias: Feed Fish
  trigger:
  - at: 09:00
    platform: time
  - at: '17:00'
    platform: time
  action:
  - entity_id: switch.fishfeeder_92
    service: switch.turn_on
  - delay: 00:00:02
  - entity_id: switch.fishfeeder_92
    service: switch.turn_off
  mode: single
- id: '4'
  alias: outsidenorth
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.outsidenorth
  condition:
  - condition: state
    entity_id: sun.sun
    state: below_horizon
  - condition: not
    conditions:
    - condition: time
      after: '22:00:00'
      before: 06:00:00
  action:
  - service: switch.turn_on
    data: {}
    entity_id: switch.outsidenorth
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - service: switch.turn_off
    data: {}
    entity_id: switch.outsidenorth
  mode: single
- id: '5'
  alias: Turn on Eric's Fish Light
  trigger:
  - entity_id: sun.sun
    from: below_horizon
    platform: state
    to: above_horizon
  action:
  - entity_id: switch.eric_fishtanklights
    service: switch.turn_on
  mode: single
- id: '6'
  alias: Turn off Eric's Fish Light
  trigger:
  - entity_id: sun.sun
    from: above_horizon
    platform: state
    to: below_horizon
  action:
  - entity_id: switch.eric_fishtanklights
    service: switch.turn_off
  mode: single
- id: '7'
  alias: outsideeast
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.outsideeast
  condition:
  - condition: state
    entity_id: sun.sun
    state: below_horizon
  - condition: not
    conditions:
    - condition: time
      after: '22:00:00'
      before: 06:00:00
  action:
  - service: switch.turn_on
    data: {}
    entity_id: switch.outsideeast
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - service: switch.turn_off
    data: {}
    entity_id: switch.outsideeast
  mode: single
- id: '8'
  alias: Entity States
  description: ''
  trigger:
  - platform: homeassistant
    event: start
  condition: []
  action:
  {% for m in device %}
  - service: homeassistant.update_entity
    data: {}
    entity_id: switch.{{ m.name }}
  {% endfor %}
  mode: single