homeassistant:
  name: Home
  elevation: !secret elevation
  latitude: !secret latitude
  longitude: !secret longitude
  unit_system: metric
  time_zone: Europe/Berlin

frontend:
config:
http:
  server_port: 8123

discovery:

updater:
  include_used_components: true

conversation:
history:
logbook:
map:
sun:
system_health:

mqtt:
  broker: localhost
  username: client
  password: !secret mqttpassword
  discovery: false

switch: !include switch.yaml
sensor: !include sensor.yaml
binary_sensor: !include binary_sensor.yaml
automation: !include automations.yaml