  - platform: mqtt
    name: "FishTankLights"
    command_topic: "cmnd/sonoff_power8/power"
    state_topic: "stat/sonoff_power8/POWER"
    payload_on: "ON"
    payload_off: "OFF"
    availability_topic: "tele/sonoff_power8/LWT"
    payload_available: "Online"
    payload_not_available: "Offline"
    qos: 1
    retain: false

  - platform: mqtt
    name: "FishTankPower"
    command_topic: "cmnd/sonoff_power9/power"
    state_topic: "stat/sonoff_power9/POWER"
    payload_on: "ON"
    payload_off: "OFF"
    availability_topic: "tele/sonoff_power9/LWT"
    payload_available: "Online"
    payload_not_available: "Offline"
    qos: 1
    retain: false

  - platform: mqtt
    name: "FishFilter"
    command_topic: "cmnd/fishfilter_93/power"
    state_topic: "stat/fishfilter_93/POWER"
    payload_on: "ON"
    payload_off: "OFF"
    availability_topic: "tele/fishfilter_93/LWT"
    payload_available: "Online"
    payload_not_available: "Offline"
    qos: 1
    retain: false

  - platform: mqtt
    name: "FishFeeder"
    command_topic: "cmnd/fishfeeder_92/power"
    state_topic: "stat/fishfeeder_92/POWER"
    payload_on: "ON"
    payload_off: "OFF"
    availability_topic: "tele/fishfeeder_92/LWT"
    payload_available: "Online"
    payload_not_available: "Offline"
    qos: 1
    retain: false